* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    /* purple */
    background-color: #6665ee;
    display: grid;
    height: 100%;
    place-items: center;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 600px;
    padding: 25px 30px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

form input {
    margin: 10px 0;
    outline: none;
    border: 1px solid #0F4C81;

}

.btn {
    background-color: rgb(171, 69, 69);
    color: #fff;
    padding: 7px 10px;
    cursor: pointer;
}

input {
    background-color: azure;
}

.error {
    display: none;
}

.message-content {
    color: rgb(67, 125, 176);
}